<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jawnnypoo.geotune"
          android:installLocation="internalOnly">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- To restore previously registered geofences -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Required for Maps -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Geofences require this permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--End permissions for maps-->

    <!-- Required in order to play the notification tone to the user -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_key}"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- For Maps and Places API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_api_key}"/>

        <provider
            android:name=".data.GeoTuneContentProvider"
            android:authorities="com.jawnnypoo.geotune"
            android:exported="false"/>

        <activity
            android:name="com.jawnnypoo.geotune.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GeoMapActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activity.AboutActivity"/>

        <service
            android:name=".service.GeofenceTransitionsIntentService"
            android:exported="false"/>
        <service
            android:name=".service.GeoTuneModService"
            android:exported="false"/>

        <receiver
            android:name=".misc.CheckRegistrationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
